@layer base, page, component;

@layer base {
    @import "@radix-ui/themes/components.css";
    @import "@radix-ui/themes/utilities.css";
    @import "@radix-ui/themes/tokens/base.css";

    :root {
        --section-border-size: 1px;
        --section-border-color: var(--gray-a7);
        --section-border: var(--section-border-size) solid var(--section-border-color);
        --base-padding: 16px;
        --content-padding: var(--base-padding);
    }

    :root,
    .light,
    .light-theme {
        --engity-main: #ffc000;
        --engity-secondary: #284696;
        --color-background: #fff;

        --color-background-app-1: oklch(from var(--engity-secondary) calc(l * 0.2) c h);
        --color-background-app-2: oklch(from var(--engity-main) l c h 0.1);

        --yellow-1: #fefdfb;
        --yellow-2: #fffae8;
        --yellow-3: #fff2bf;
        --yellow-4: #ffe89c;
        --yellow-5: #ffdd78;
        --yellow-6: #ffd16f;
        --yellow-7: #ecc05f;
        --yellow-8: #dba82a;
        --yellow-9: #ffc400;
        --yellow-10: #f9bb00;
        --yellow-11: #9c6e00;
        --yellow-12: #47391b;

        --yellow-a1: #c0800004;
        --yellow-a2: #ffc80017;
        --yellow-a3: #ffcc0040;
        --yellow-a4: #ffc40063;
        --yellow-a5: #ffbf0087;
        --yellow-a6: #ffae0090;
        --yellow-a7: #e19b00a0;
        --yellow-a8: #d49700d5;
        --yellow-a9: #ffc400;
        --yellow-a10: #f9bb00;
        --yellow-a11: #9c6e00;
        --yellow-a12: #312200e4;

        --yellow-contrast: #2a2009;
        --yellow-surface: #fff9e2cc;
        --yellow-indicator: #ffc400;
        --yellow-track: #ffc400;

        --gray-1: #fbfcff;
        --gray-2: #f8f9ff;
        --gray-3: #edf0fa;
        --gray-4: #e5e8f5;
        --gray-5: #dce0f2;
        --gray-6: #d4d8ed;
        --gray-7: #c8cee6;
        --gray-8: #b3badb;
        --gray-9: #858cab;
        --gray-10: #7b829f;
        --gray-11: #5e637b;
        --gray-12: #1c1f2f;

        --gray-a1: #0040ff04;
        --gray-a2: #0025ff07;
        --gray-a3: #002bb912;
        --gray-a4: #001e9d1a;
        --gray-a5: #001ea123;
        --gray-a6: #0118952b;
        --gray-a7: #001c8c37;
        --gray-a8: #0018874c;
        --gray-a9: #010f507a;
        --gray-a10: #000e4684;
        --gray-a11: #00082ea1;
        --gray-a12: #000315e3;

        --gray-contrast: #ffffff;
        --gray-surface: #ffffffcc;
        --gray-indicator: #858cab;
        --gray-track: #858cab;
    }

    .dark,
    .dark-theme {
        --engity-secondary: #77a4ff;
        --color-background: #111;
        --color-background-app-1: oklch(from var(--engity-secondary) calc(l * 0.2) c h);
        --color-background-app-2: var(--yellow-a5);

        --yellow-1: #14110b;
        --yellow-2: #1c180f;
        --yellow-3: #2d2108;
        --yellow-4: #3d2900;
        --yellow-5: #4a3300;
        --yellow-6: #574006;
        --yellow-7: #6b521a;
        --yellow-8: #876923;
        --yellow-9: #ffc000;
        --yellow-10: #f4b600;
        --yellow-11: #ffca29;
        --yellow-12: #ffe7b5;

        --yellow-a1: #d1110004;
        --yellow-a2: #fba6000c;
        --yellow-a3: #ff99001e;
        --yellow-a4: #fb910030;
        --yellow-a5: #fc9d003e;
        --yellow-a6: #ffb1004b;
        --yellow-a7: #fdbb2861;
        --yellow-a8: #fdc1357f;
        --yellow-a9: #ffc000;
        --yellow-a10: #febd00f4;
        --yellow-a11: #ffca29;
        --yellow-a12: #ffe7b5;

        --yellow-contrast: #2a2009;
        --yellow-surface: #271f0e80;
        --yellow-indicator: #ffc000;
        --yellow-track: #ffc000;

        --gray-1: #101116;
        --gray-2: #18191f;
        --gray-3: #21222a;
        --gray-4: #272934;
        --gray-5: #2e303e;
        --gray-6: #363949;
        --gray-7: #43475a;
        --gray-8: #5a5f7a;
        --gray-9: #676d8a;
        --gray-10: #747a97;
        --gray-11: #adb3cd;
        --gray-12: #edeef3;

        --gray-a1: #0012e606;
        --gray-a2: #8899ff0f;
        --gray-a3: #a9b2fe1b;
        --gray-a4: #a5b3fc26;
        --gray-a5: #a8b3fc31;
        --gray-a6: #afbbff3c;
        --gray-a7: #b3c0fd4f;
        --gray-a8: #b6c2fe71;
        --gray-a9: #bac6ff82;
        --gray-a10: #c1cbff90;
        --gray-a11: #d5ddfeca;
        --gray-a12: #f8f9fef3;

        --gray-contrast: #ffffff;
        --gray-surface: rgba(0, 0, 0, 0.05);
        --gray-indicator: #676d8a;
        --gray-track: #676d8a;
    }

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            :root,
            .light,
            .light-theme {
                --yellow-1: oklch(99.4% 0.0029 84.58);
                --yellow-2: oklch(98.6% 0.0247 84.58);
                --yellow-3: oklch(96.9% 0.0707 84.58);
                --yellow-4: oklch(94.5% 0.1073 84.58);
                --yellow-5: oklch(91.9% 0.1371 84.58);
                --yellow-6: oklch(88.1% 0.1273 84.58);
                --yellow-7: oklch(82.7% 0.1253 84.58);
                --yellow-8: oklch(75.8% 0.1442 84.58);
                --yellow-9: oklch(85.7% 0.183 84.58);
                --yellow-10: oklch(82.6% 0.1727 84.58);
                --yellow-11: oklch(56.9% 0.1477 84.58);
                --yellow-12: oklch(35.2% 0.0497 84.58);

                --yellow-a1: color(display-p3 0.7569 0.5137 0.0235 / 0.016);
                --yellow-a2: color(display-p3 0.9529 0.7647 0.0078 / 0.083);
                --yellow-a3: color(display-p3 0.9686 0.7765 0.0039 / 0.228);
                --yellow-a4: color(display-p3 0.9569 0.7569 0.0039 / 0.353);
                --yellow-a5: color(display-p3 0.9529 0.7255 0.0039 / 0.471);
                --yellow-a6: color(display-p3 0.949 0.6588 0 / 0.506);
                --yellow-a7: color(display-p3 0.8235 0.5804 0 / 0.569);
                --yellow-a8: color(display-p3 0.7608 0.5412 0 / 0.726);
                --yellow-a9: color(display-p3 0.9529 0.6941 0 / 0.734);
                --yellow-a10: color(display-p3 0.9216 0.651 0 / 0.746);
                --yellow-a11: color(display-p3 0.5176 0.349 0 / 0.863);
                --yellow-a12: color(display-p3 0.1686 0.1216 0 / 0.879);

                --yellow-contrast: #2a2009;
                --yellow-surface: color(display-p3 1 0.9765 0.898 / 0.8);
                --yellow-indicator: oklch(85.7% 0.183 84.58);
                --yellow-track: oklch(85.7% 0.183 84.58);

                --gray-1: oklch(99.2% 0.0043 275.8);
                --gray-2: oklch(98.3% 0.008 275.8);
                --gray-3: oklch(95.6% 0.0142 275.8);
                --gray-4: oklch(93.2% 0.0188 275.8);
                --gray-5: oklch(90.9% 0.0242 275.8);
                --gray-6: oklch(88.6% 0.028 275.8);
                --gray-7: oklch(85.4% 0.0346 275.8);
                --gray-8: oklch(79.4% 0.0469 275.8);
                --gray-9: oklch(64.6% 0.0474 275.8);
                --gray-10: oklch(61% 0.0451 275.8);
                --gray-11: oklch(50.5% 0.0387 275.8);
                --gray-12: oklch(24.4% 0.0315 275.8);

                --gray-a1: color(display-p3 0.0235 0.2667 1 / 0.016);
                --gray-a2: color(display-p3 0.0235 0.1608 0.8627 / 0.028);
                --gray-a3: color(display-p3 0.0078 0.1255 0.651 / 0.067);
                --gray-a4: color(display-p3 0.0118 0.0902 0.5647 / 0.099);
                --gray-a5: color(display-p3 0.0078 0.0941 0.5647 / 0.134);
                --gray-a6: color(display-p3 0.0039 0.0745 0.5255 / 0.165);
                --gray-a7: color(display-p3 0.0039 0.0941 0.502 / 0.212);
                --gray-a8: color(display-p3 0.0039 0.0863 0.4824 / 0.295);
                --gray-a9: color(display-p3 0.0039 0.051 0.2824 / 0.475);
                --gray-a10: color(display-p3 0 0.0471 0.2549 / 0.514);
                --gray-a11: color(display-p3 0 0.0275 0.1647 / 0.628);
                --gray-a12: color(display-p3 0 0.0078 0.0745 / 0.887);

                --gray-contrast: #ffffff;
                --gray-surface: color(display-p3 1 1 1 / 80%);
                --gray-indicator: oklch(64.6% 0.0474 275.8);
                --gray-track: oklch(64.6% 0.0474 275.8);
            }

            .dark,
            .dark-theme {
                --yellow-1: oklch(17.8% 0.0123 84.58);
                --yellow-2: oklch(21.1% 0.0174 84.58);
                --yellow-3: oklch(25.7% 0.0424 84.58);
                --yellow-4: oklch(29.6% 0.0693 84.58);
                --yellow-5: oklch(33.7% 0.0788 84.58);
                --yellow-6: oklch(38.7% 0.0761 84.58);
                --yellow-7: oklch(45.3% 0.0793 84.58);
                --yellow-8: oklch(53.6% 0.0936 84.58);
                --yellow-9: oklch(84.2% 0.1727 84.58);
                --yellow-10: oklch(81% 0.1727 84.58);
                --yellow-11: oklch(87.1% 0.1702 84.58);
                --yellow-12: oklch(93.5% 0.0694 84.58);

                --yellow-a1: color(display-p3 0.9412 0.0667 0 / 0.009);
                --yellow-a2: color(display-p3 0.9804 0.7059 0 / 0.043);
                --yellow-a3: color(display-p3 0.9961 0.6392 0 / 0.11);
                --yellow-a4: color(display-p3 0.9961 0.6353 0 / 0.173);
                --yellow-a5: color(display-p3 1 0.6745 0 / 0.227);
                --yellow-a6: color(display-p3 1 0.7451 0.1098 / 0.278);
                --yellow-a7: color(display-p3 1 0.7843 0.2745 / 0.362);
                --yellow-a8: color(display-p3 1 0.8039 0.3255 / 0.475);
                --yellow-a9: color(display-p3 1 0.7961 0.2667 / 0.958);
                --yellow-a10: color(display-p3 1 0.7882 0.2667 / 0.916);
                --yellow-a11: color(display-p3 0.9961 0.8235 0.3216 / 0.967);
                --yellow-a12: color(display-p3 1 0.9255 0.7451 / 0.984);

                --yellow-contrast: #2a2009;
                --yellow-surface: color(display-p3 0.149 0.1176 0.0588 / 0.5);
                --yellow-indicator: oklch(84.2% 0.1727 84.58);
                --yellow-track: oklch(84.2% 0.1727 84.58);

                --gray-1: oklch(17.8% 0.0116 275.8);
                --gray-2: oklch(21.5% 0.011 275.8);
                --gray-3: oklch(25.5% 0.015 275.8);
                --gray-4: oklch(28.4% 0.0205 275.8);
                --gray-5: oklch(31.4% 0.0241 275.8);
                --gray-6: oklch(35% 0.0272 275.8);
                --gray-7: oklch(40.1% 0.0329 275.8);
                --gray-8: oklch(49.2% 0.0428 275.8);
                --gray-9: oklch(54% 0.0459 275.8);
                --gray-10: oklch(58.6% 0.0451 275.8);
                --gray-11: oklch(77% 0.0377 275.8);
                --gray-12: oklch(94.9% 0.0072 275.8);

                --gray-a1: color(display-p3 0 0.0667 0.9608 / 0.022);
                --gray-a2: color(display-p3 0.5686 0.6392 0.9961 / 0.055);
                --gray-a3: color(display-p3 0.6902 0.7294 1 / 0.101);
                --gray-a4: color(display-p3 0.6706 0.7255 1 / 0.143);
                --gray-a5: color(display-p3 0.6824 0.7255 1 / 0.185);
                --gray-a6: color(display-p3 0.7098 0.7451 1 / 0.232);
                --gray-a7: color(display-p3 0.7373 0.7765 1 / 0.299);
                --gray-a8: color(display-p3 0.7373 0.7725 1 / 0.433);
                --gray-a9: color(display-p3 0.7451 0.7843 0.9961 / 0.5);
                --gray-a10: color(display-p3 0.7725 0.8078 0.9961 / 0.555);
                --gray-a11: color(display-p3 0.8549 0.8784 1 / 0.782);
                --gray-a12: color(display-p3 0.9725 0.9765 1 / 0.95);

                --gray-contrast: #ffffff;
                --gray-surface: color(display-p3 0 0 0 / 5%);
                --gray-indicator: oklch(54% 0.0459 275.8);
                --gray-track: oklch(54% 0.0459 275.8);
            }
        }
    }

    .radix-themes {
        --font-size-1: calc(10px * var(--scaling));
        --font-size-2: calc(12px * var(--scaling));
        --font-size-3: calc(14px * var(--scaling));
        --font-size-4: calc(16px * var(--scaling));
        --font-size-5: calc(18px * var(--scaling));
        --font-size-6: calc(22px * var(--scaling));
        --font-size-7: calc(26px * var(--scaling));
        --font-size-8: calc(36px * var(--scaling));
        --font-size-9: calc(60px * var(--scaling));
        --cursor-button: var(--cursor-link);
    }

    :root {
        fill: var(--gray-12);
    }

    html,
    body {
        margin: 0;
        padding: 0;
    }

    body {
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-image: url("assets/background.svg");
    }

    .logo-with-text_svg__secondary,
    .logo-without-spacing_svg__secondary {
        fill: var(--engity-secondary);
    }
    .logo-with-text_svg__primary,
    .logo-without-spacing_svg__primary {
        fill: var(--engity-main);
    }

    button,
    a,
    [role="menuitem"] {
        cursor: var(--cursor-link);
    }

    [disabled],
    [data-disabled] {
        cursor: var(--cursor-disabled);
    }

    a,
    a.rt-Text,
    button.text,
    button.rt-Text {
        color: var(--engity-secondary);
        -webkit-text-decoration-color: color-mix(in oklab, var(--engity-secondary), var(--gray-a6));
        text-decoration-color: color-mix(in oklab, var(--engity-secondary), var(--gray-a6));
    }
}
